<div class="container">

  <div class="d-flex justify-content-md-center align-items-center vh-100">
  
    <div>
      <div class="mb-5 d-flex justify-content-md-center align-items-center">


            <!-- primer elemento  -->
            <div *ngFor="let dat of first_line; let ind = index" class="mr-2">

              <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">{{ dat }}</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="{{ dat }}">
              </div>
              <div class="col-auto">
                <select class="form-select" aria-label="Default select example" (change)="onChange($event, dat, ind)">
                  <option selected value="nn">Tipo</option>
                  <option [value]="item" *ngFor="let item of columns_data">{{ item }}</option>
                </select>
              </div>


            </div>

      </div>


      <div class="mb-3">
        <input  #myInput class="form-control" type="file" id="file-upload" (change)="fileChanged($event)">
      </div>

      <button type="button" class="btn btn-primary" (click)="save()">Guardar relación</button>


    </div>

  </div>
</div>